{% block content %}
<head>
  <link rel="stylesheet" type="text/css"
    href= {{ url_for('static', filename='index.css') }}
  >
  <script src={{ url_for('static', filename='feedback.js') }} ></script>
</head>
<body>
  <h1 class='center'>Welcome to Sameocracy!</h1>
  <h2>Is the following tweet</h2>
  <div class='comparison'>
    <p class='tweet'>{{tweet}}</p>
    <h3 class='center'> From </h3>
    <div>
      <p class='left'>
        <a href="./next">
          {{left}}
        </a>
      </p>
      <span class='split'>Or</span>
      <p class='right'>
        <a href="./next">
          {{right}}
        </a>
      </p>
    </div>
  </div>
</body>
{% endblock %}
